{% load staticfiles %}

<!DOCTYPE html>
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />


<meta charset="utf-8">
<title>Live Bus Tracker</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>


<script src="http://d3js.org/d3.v3.min.js"></script>

<style>

rect {
  fill: none;
  pointer-events: all;
}

svg {
  border: 1px solid black;
  background: url("{% static "img/map_pit_paths_70_opacity.png" %}");
  margin-top: 10px;
  margin-left: 10px;
}


.node {
  fill: #000;
}

.node.gsn {
  fill: #f00;
}

.node.rsn {
  fill: #000;
}

.node.user {
  fill: #000;
}

.node text {
  pointer-events: none;
  font: 10px sans-serif;
}

.link {
  stroke: #9494A0;
  stroke-width: 1.5px;
}


</style>


<body>

<div id="panel" style="float:right; width: 350px; height: 750px; margin-top:10px; margin-right:20px;">
  <table width="350">
    <tr>
      <td>
        <div class="panel panel-success">
          <div class="panel-heading"><b style="font-size: 20px" >Control Panel</b></div>
          <div class="panel-body">
            <table width="100%">
              <tr>    
                <td align="middle">
                  <div class="row">
                    <div class="col-xs-6">
                      <button class="btn btn-primary" data-toggle="modal" data-target="#launch_simulator_modal" style="width:150px">
                        Launch Simulator
                      </button>  
                    </div>
                    <div class="col-xs-6">
                      <button class="btn btn-info" data-toggle="modal" data-target="#send_command_modal" style="width:150px">
                        Send Command
                      </button> 
                    </div>
                  </div>
                  
                </td>
              </tr>
              <tr><td><br></td></tr>
              <tr>
                <td align="middle">
                  <div class="row">
                    <div class="col-xs-6">
                      <button class="btn btn-success" data-toggle="modal" data-target="#auto_run_modal"  style="width:150px">
                        Auto Run
                      </button>
                    </div>
                    <form action="" method="post">  
                      <div class="col-xs-6">
                        <input type="submit" name="terminate_all" value="Terminate All" class="btn btn-danger" style="width:150px">
                      </div>
                    </form>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </td>
    <tr>
      <td>
        <div class="panel panel-info">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-12 col-md-8">
                <b style="font-size: 20px">Running Info</b>
              </div>
              <div class="col-xs-6 col-md-4">
                <button type="button" class="btn btn-default" onClick="window.location.reload()">
                  <span class="glyphicon glyphicon-refresh"></span>Refresh
                </button> 
              </div>
            </div>
          </div>
          <div class="panel-body">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
              <li class="active"><a href="#host" data-toggle="tab">Host</a></li>
              <li><a href="#usr_query" data-toggle="tab">UserQuery</a></li>
              <li><a href="#settings" data-toggle="tab">Settings</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane active" id="host">
                <textarea readonly id="run_info" rows="21" style="border: none; width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;"> 
                </textarea>
              </div>
              <div class="tab-pane" id="usr_query">
                <textarea readonly id="user_query_result" rows="21" style="border: none; width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;"> 
                </textarea>
              </div>
              <div class="tab-pane" id="settings">
                <textarea readonly id="setting_result" rows="21" style="border: none; width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;"> 
                </textarea>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>

<!-- pop out modal for launch simulator -->
<!-- Modal -->
<div class="modal fade" id="launch_simulator_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Launch Simulator</h4>
      </div>
      <div class="modal-body">
        
        <!-- Quick Start Button -->
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Import Config <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#" onclick="launchGSN()">GSN</a></li>
            <li class="divider"></li>
            <li><a href="#" name="1" onclick="launchDriver(this.name)">Driver_1</a></li>
            <li><a href="#" name="2" onclick="launchDriver(this.name)">Driver_2</a></li>
            <li><a href="#" name="3" onclick="launchDriver(this.name)">Driver_3</a></li>
            <li class="divider"></li>
            <li><a href="#" name="1" onclick="launchUser(this.name)">User_1</a></li>
            <li><a href="#" name="2" onclick="launchUser(this.name)">User_2</a></li>
          </ul>
        </div>
        <hr>

        <form role="form" action="" method="post">
          <div class="form-group">

            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-danger">
                <input type="radio" name="roleRadios" id="radio_GSN" value="GSN">GSN
              </label>
              <label class="btn btn-warning">
                <input type="radio" name="roleRadios" id="radio_DRIVER" value="DRIVER">Driver
              </label>
              <label class="btn btn-success">
                <input type="radio" name="roleRadios" id="radio_USER" value="USER">User
              </label>
            </div>
          </div>
          <div class="form-group">
            <label for="simulator_name">Simulator Name</label>
            <input type="text" name="simulator_name" class="form-control" id="launch_simulator_name" placeholder="Simulator Name">
          </div>
          <div class="form-group">
            <label for="localName">Local Name</label>
            <input type="text" name="localName" class="form-control" id="launch_localName" placeholder="Local Name">
          </div>
          <div class="form-group">
            <label for="id">Role ID</label>
            <input type="text" name="id" class="form-control" id="launch_id" placeholder="Role ID">
          </div>
          <div class="form-group">
            <label for="ip">Simulator IP/PORT</label>
            <input type="text" name="simulator_ip" class="form-inline" id="launch_sim_ip" value="127.0.0.1" placeholder="IP Address">
            <input type="number" name="simulator_port" class="form-inline" id="launch_sim_port" placeholder="Port Number">
          </div>
          <div class="form-group">
            <label for="ip">Role(Host) IP/PORT</label>
            <input type="text" name="host_ip" class="form-inline" id="launch_host_ip" value="127.0.0.1" placeholder="IP Address">
            <input type="number" name="host_port" class="form-inline" id="launch_host_port" placeholder="Port Number">
          </div>

          <button type="submit" name="launch_simulator" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<!-- pop out modal for send command -->
<!-- Modal -->
<div class="modal fade" id="send_command_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Send Command</h4>
      </div>
      <div class="modal-body">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
          <li><a href="#GSN_tab" data-toggle="tab">GSN</a></li>
          <li><a href="#Driver" data-toggle="tab">Driver</a></li>
          <li class="active"><a href="#User" data-toggle="tab">User</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane" id="GSN_tab">
            <!-- Form for GSN  -->
            <!-- drop down box for chossing a user -->
            <form role="form" action="" method="post">
              <div class="form-group">
                <label for="simulator_name">Simulator Name</label>
                <select multiple class="form-control" name="simulator_name">
                  {% for name in gsn_list %}
                      <option value="{{name}}">{{name}}</option>
                  {% endfor %}
                </select>
              </div>
            
              <div class="panel-group" id="gsn_accordion">
                <!-- Close a GSN -->
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#gsn_accordion" href="#close_gsn_collapse">
                        Close GSN
                      </a>
                    </h4>
                  </div>
                  <div id="close_gsn_collapse" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <button type="submit" name="exit" class="btn btn-primary">Exit</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="tab-pane" id="Driver">
            <!-- Form for Driver  -->
            <!-- drop down box for chossing a driver -->
            <form role="form" action="" method="post">
              <div class="form-group">
                <label for="simulator_name">Simulator Name</label>
                <select multiple class="form-control" name="simulator_name">
                  {% for name in driver_list %}
                      <option value="{{name}}">{{name}}</option>
                  {% endfor %}
                </select>
              </div>
            
              <div class="panel-group" id="bus_accordion">
                <!-- Start a bus -->
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#bus_accordion" href="#bus_start_collapse">
                        Start Bus
                      </a>
                    </h4>
                  </div>
                  <div id="bus_start_collapse" class="panel-collapse collapse in">
                    <div class="panel-body">
                      <div class="form-group">
                        <label for="route">Route Name</label>
                        <select multiple class="form-control" name="route">
                        {% for route in route_list %}
                          <option value="{{route}}">{{route}}</option>
                        {% endfor %}
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="direction">Running Direction</label>
                        <input type="text" name="direction" class="form-control" id="direction" value="0" placeholder="Route Direction">
                      </div>
                      <div class="form-group">
                        <label for="location">Start Location</label>
                        <input type="text" name="location" class="form-control" id="location" placeholder="Start Location" value="0">
                      </div>

                      <button type="submit" name="start_bus" class="btn btn-primary">Start</button>
                    </div>
                  </div>
                </div>
                <!-- Close a bus -->
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#bus_accordion" href="#bus_close_collapse">
                        Close Bus
                      </a>
                    </h4>
                  </div>
                  <div id="bus_close_collapse" class="panel-collapse collapse">
                    <div class="panel-body">
                        <button type="submit" name="exit" class="btn btn-primary">Exit</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>


          </div>

          <div class="tab-pane active" id="User">
            <!-- Form for User  -->
            <!-- drop down box for chossing a user -->
            <form role="form" action="" method="post">
              <div class="form-group">
                <label for="simulator_name">Simulator Name</label>
                <select multiple class="form-control" name="simulator_name">
                  {% for name in user_list %}
                      <option value="{{name}}">{{name}}</option>
                  {% endfor %}
                </select>
              </div>
            
              <!-- Send a Request -->
              <div class="panel-group" id="user_accordion">
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#user_accordion" href="#user_request_collapse">
                        Make Request
                      </a>
                    </h4>
                  </div>
                  <div id="user_request_collapse" class="panel-collapse collapse in">
                    <div class="panel-body">
                      <div class="form-group">
                        <label for="route">Route Name</label>
                        <select multiple class="form-control" name="route">
                        {% for route in route_list %}
                          <option value="{{route}}">{{route}}</option>
                        {% endfor %}
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="direction">Direction</label>
                        <input type="text" name="direction" class="form-control" id="direction" value="0" placeholder="Direction">
                      </div>
                      <div class="form-group">
                        <label for="location">Current Location</label>
                        <input type="text" name="location" class="form-control" id="location" placeholder="Current Location" value="15">
                      </div>
                      <div class="form-group">
                        <label for="location">Destination</label>
                        <input type="text" name="destination" class="form-control" id="destination" placeholder="Destination" value="29">
                      </div>

                      <button type="submit" name="user_request" class="btn btn-primary">Request</button>
                    </div>
                  </div>
                </div>
                <!-- Close a user -->
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#user_accordion" href="#clos_user_collapse">
                        Close User
                      </a>
                    </h4>
                  </div>
                  <div id="clos_user_collapse" class="panel-collapse collapse">
                    <div class="panel-body">
                        <button type="submit" name="exit" class="btn btn-primary">Exit</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<!-- pop out modal for auto run -->
<!-- Modal -->
<div class="modal fade" id="auto_run_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Auto Run</h4>
      </div>
      <div class="modal-body">
        <label>Available Scripts</label>
        <form role="form" action="" method="post">
          <div class="form-group">
            <label for="auto_run_scripts"></label>
            <select multiple class="form-control" name="auto_run_scripts">
            {% for script in auto_run_script_list %}
              <option value="{{script}}">{{script}}</option>
            {% endfor %}
            </select>
          </div>
          <button type="submit" name="auto_run" class="btn btn-primary">Run!</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>





<script>
var width = 1000,
    height = 750;

var fill = d3.scale.category20();

var force = d3.layout.force()
    .size([width, height])
    .nodes([]) // initialize with no node
    .linkDistance(100)
    .charge(-200)
    .on("tick", tick);

var svg = d3.select("body").append("svg")
    .attr("width", width)
    .attr("height", height)
    .on("mousedown", mousedown);

svg.append("rect")
    .attr("width", width)
    .attr("height", height);

//Draw the GSN area
/*
var gsnArea = svg.append("rect")
.attr("x", 380)
.attr("y", 0)
.attr("width", 220)
.attr("height", 40)
.style("fill", "#fff");
*/
var nodes = force.nodes(),
    links = force.links(),
    node = svg.selectAll(".node"),
    link = svg.selectAll(".link");

var jsonNodes = force.nodes();
var jsonLinks = force.links();

var count = 0;

function mousedown() {
  restart();
  
  // log mouse click coordinates, uncomment to enable
/*
  d3.select("#log")
    .append("span")
    .html(count + "," + d3.mouse(this)[0] + "," + d3.mouse(this)[1]
          + "<br/>");
  count++;
*/
}

// auto fill form
 
function launchGSN() {
  document.getElementById('radio_GSN').checked = true;  
  document.getElementById("launch_simulator_name").value = 'GSN_1';
  document.getElementById("launch_localName").value = 'gsn_1';
  document.getElementById("launch_id").value = 'GSN_1';
  document.getElementById("launch_sim_ip").value = '127.0.0.1';
  document.getElementById("launch_sim_port").value = 11000;
  document.getElementById("launch_host_ip").value = '127.0.0.1';
  document.getElementById("launch_host_port").value = 40000;
}


function launchDriver(id) {
  document.getElementById('radio_DRIVER').checked = true;  
  document.getElementById("launch_simulator_name").value = 'DRIVER_' + String(id);
  document.getElementById("launch_localName").value = 'driver_' + String(id);
  document.getElementById("launch_id").value = 'driver_' + String(id);
  document.getElementById("launch_sim_ip").value = '127.0.0.1';
  document.getElementById("launch_sim_port").value = (12000 + Number(id));
  document.getElementById("launch_host_ip").value = '127.0.0.1';
  document.getElementById("launch_host_port").value = (41000 +  Number(id));
}

function launchUser(id) {
  document.getElementById('radio_USER').checked = true;  
  document.getElementById("launch_simulator_name").value = 'USER_' + String(id);
  document.getElementById("launch_localName").value = 'user_' + String(id);
  document.getElementById("launch_id").value = 'user_' + String(id);
  document.getElementById("launch_sim_ip").value = '127.0.0.1';
  document.getElementById("launch_sim_port").value = (13000 + Number(id));
  document.getElementById("launch_host_ip").value = '127.0.0.1';
  document.getElementById("launch_host_port").value = (42000 +  Number(id));
}


function loadInfoFileToTextArea()
{
  var xmlhttp = new XMLHttpRequest(); 
  xmlhttp.open("GET","{% static "locList.txt" %}",false);
  xmlhttp.send();
  var value = xmlhttp.responseText;
  document.getElementById("run_info").value=value;

  
  xmlhttp.open("GET","{% static "queryResult.txt" %}",false);
  xmlhttp.send();
  var value = xmlhttp.responseText;
  document.getElementById("user_query_result").value=value;
}

function getBusCoords(n) {
    var Coords = new Object();
    nodes.forEach(function(d) {
        if (d.index == n) {
            Coords['x'] = d.x;
            Coords['y'] = d.y;
        }
    });
    return Coords;
}

function tick() {
  link.attr("x1", function(d) { return getBusCoords(d.source).x; })
      .attr("y1", function(d) { return getBusCoords(d.source).y; })
      .attr("x2", function(d) { return getBusCoords(d.target).x; })
      .attr("y2", function(d) { return getBusCoords(d.target).y; });

  node.attr("cx", function(d) { return d.x; })
      .attr("cy", function(d) { return d.y; });

  // update node icon
  node.select("image").attr("xlink:href", function(d) {
        if(d.type == "GSN")
          return "{% static "img/iconGSN.png"%}";
        else if (d.type == "RSN")
          return "{% static "img/iconRSN.png"%}";
        else if (d.type == "USER")
          return "{% static "img/iconUser.png"%}";
        else
          return "{% static "img/circle.png" %}";
      });

  node.select("text").text(function(d) { return d.name; });

  node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
}

function restart() {
    loadInfoFileToTextArea()
    // read file
    d3.json("{% static "graph.json" %}", function(error, json) {
      jsonNodes = json.nodes;
      jsonLinks = json.links;
    });

    nodes = jsonNodes;
    links = jsonLinks;
    tick();


    // update links
    link = link.data(links, function(d) { 
                //console.log(d.source + "-" + d.target);
                return d.source + "-" + d.target;
            });
    link.exit().remove();


    link.enter().append("line")
             .attr("class", "link")
             .attr("stroke", "#000")
             .attr("stroke-width", 1);

    // update nodes
    node = node.data(nodes, function(d) { 
        return d.name;
    });
    node.exit().remove();

    // style nodes
    var nn = node.enter().append("g")
      .attr("class", "node")
      .attr("class", function(d) { return "node " + d.type; })
      .attr("r", 5);

    nn.append("image")
      .attr("xlink:href", function(d) {
        if(d.type == "GSN")
          return "{% static "img/iconGSN.png"%}";
        else if (d.type == "RSN")
          return "{% static "img/iconRSN.png"%}";
        else if (d.type == "USER")
          return "{% static "img/iconUser.png"%}";
        else
          return "{% static "img/circle.png" %}";

      })
      .attr("x", -12)
      .attr("y", -12)
      .attr("width", 24)
      .attr("height", 24);

    nn.append("text")
      .attr("dx", 20)
      .attr("dy", ".35em")
      .style("fill", "#00003D")
      .style("font-size","14px")
      .style("font-weight", "bold")
      .text(function(d) { return d.name });

    force.start();
}

restart();

// sets interval graph gets updated (1sec = 1000ms)
setInterval(restart, 1000 * 2);

</script>

