{% load staticfiles %}

<!DOCTYPE html>

<meta charset="utf-8">
<title>Live Bus Tracker</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>


<script src="http://d3js.org/d3.v3.min.js"></script>


<style>

rect {
  fill: none;
  pointer-events: all;
}

svg {
  border: 1px solid black;
  background: url("{% static "img/map_pit.png" %}");
  margin-top: 10px;
  margin-left: 10px;
}


.node {
  fill: #000;
}

.node.gsn {
  fill: #f00;
}

.node.rsn {
  fill: #000;
}

.node.user {
  fill: #000;
}

.node text {
  pointer-events: none;
  font: 10px sans-serif;
}

.link {
  stroke: #000;
  stroke-width: 1.5px;
}


</style>


<body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

<div id="panel" style="float:right; width: 350px; height: 750px; margin-top:10px; margin-right:20px;">
  <table width="350">
    <tr>
      <td>
        <div class="panel panel-success">
          <div class="panel-heading"><b style="font-size: 20px" >Control Panel</b></div>
          <div class="panel-body">
            <table width="100%">
              <tr>
                  <form action="simulate/" method="post">  
                  <!--  auto run button -->
                  <td align="middle">
                    <input type="submit" name="auto_run" value="Auto Run" class="btn btn-success" style="width:150px"><br>
                  </td>

                  </form>
              </tr>
              <tr><td><br></td></tr>
              <tr>
                <td align="middle">
                  <button class="btn btn-primary" data-toggle="modal" data-target="#launch_simulator_modal" style="width:150px">
                        Launch Simulator
                  </button>  
                </td>
              </tr>
            </table>
          </div>
        </div>
      </td>
    <tr>
      <td>
        <div class="panel panel-info">
          <div class="panel-heading"><b style="font-size: 20px" >Running Info</b></div>
          <div class="panel-body">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
              <li class="active"><a href="#host" data-toggle="tab">Host</a></li>
              <li><a href="#usr_query" data-toggle="tab">UserQuery</a></li>
              <li><a href="#settings" data-toggle="tab">Settings</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane active" id="host">
                <textarea readonly id="run_info" rows="23" style="border: none; width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;"> 
                </textarea>
              </div>
              <div class="tab-pane" id="usr_query">
                <textarea readonly id="user_query_result" rows="5" style="border: none; width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;"> 
                </textarea>
              </div>
              <div class="tab-pane" id="settings">setting</div>
            </div>

          </div>
        </div>
      </td>
    </tr>


  </table>



</div>

<!-- pop out modal for launch simulator -->
<!-- Modal -->
<div class="modal fade" id="launch_simulator_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Launch Simulator</h4>
      </div>
      <div class="modal-body">
        <form role="form" action="simulate/" method="post">
          <div class="form-group">
            <label class="radio-inline">
              <input type="radio" name="roleRadios" id="GSN" value="GSN">GSN
            </label>
            <label class="radio-inline">
              <input type="radio" name="roleRadios" id="DRIVER" value="DRIVER" checked>Driver
            </label>
            <label class="radio-inline">
              <input type="radio" name="roleRadios" id="USER" value="USER">User
            </label>
          </div>
          <div class="form-group">
            <label for="simulator_name">Simulator Name</label>
            <input type="text" name="simulator_name" class="form-control" id="simulator_name" placeholder="Simulator Name">
          </div>
          <div class="form-group">
            <label for="localName">Local Name</label>
            <input type="text" name="localName" class="form-control" id="localName" placeholder="Local Name">
          </div>
          <div class="form-group">
            <label for="id">Role ID</label>
            <input type="text" name="id" class="form-control" id="id" placeholder="Role ID">
          </div>
          <div class="form-group">
            <label for="ip">Simulator IP/PORT</label>
            <input type="text" name="simulator_ip" class="form-inline" id="ip" placeholder="IP Address">
            <input type="number" name="simulator_port" class="form-inline" id="port" placeholder="Port Number">
          </div>
          <div class="form-group">
            <label for="ip">Role(Host) IP/PORT</label>
            <input type="text" name="host_ip" class="form-inline" id="ip" placeholder="IP Address">
            <input type="number" name="host_port" class="form-inline" id="port" placeholder="Port Number">
          </div>

          <button type="submit" name="launch_simulator" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>






<script>
var width = 1000,
    height = 750;

var fill = d3.scale.category20();

var force = d3.layout.force()
    .size([width, height])
    .nodes([]) // initialize with no node
    .linkDistance(100)
    .charge(-200)
    .on("tick", tick);

var svg = d3.select("body").append("svg")
    .attr("width", width)
    .attr("height", height)
    .on("mousedown", mousedown);

svg.append("rect")
    .attr("width", width)
    .attr("height", height);

//Draw the GSN area
/*
var gsnArea = svg.append("rect")
.attr("x", 380)
.attr("y", 0)
.attr("width", 220)
.attr("height", 40)
.style("fill", "#fff");
*/
var nodes = force.nodes(),
    links = force.links(),
    node = svg.selectAll(".node"),
    link = svg.selectAll(".link");

var jsonNodes = force.nodes();
var jsonLinks = force.links();

var count = 0;

function mousedown() {
  restart();
  
  // log mouse click coordinates, uncomment to enable
/*
  d3.select("#log")
    .append("span")
    .html(count + "," + d3.mouse(this)[0] + "," + d3.mouse(this)[1]
          + "<br/>");
  count++;
*/
}

function loadInfoFileToTextArea()
{
  var xmlhttp = new XMLHttpRequest(); 
  xmlhttp.open("GET","{% static "locList.txt" %}",false);
  xmlhttp.send();
  var value = xmlhttp.responseText;
  document.getElementById("run_info").value=value;

  
  xmlhttp.open("GET","{% static "queryResult.txt" %}",false);
  xmlhttp.send();
  var value = xmlhttp.responseText;
  document.getElementById("user_query_result").value=value;
}

function tick() {
  link.attr("x1", function(d) { return d.source.x; })
      .attr("y1", function(d) { return d.source.y; })
      .attr("x2", function(d) { return d.target.x; })
      .attr("y2", function(d) { return d.target.y; });

  node.attr("cx", function(d) { return d.x; })
      .attr("cy", function(d) { return d.y; });

  // update node icon
  node.select("image").attr("xlink:href", function(d) {
        if(d.type == "GSN")
          return "{% static "img/iconGSN.png"%}";
        else if (d.type == "RSN")
          return "{% static "img/iconRSN.png"%}";
        else if (d.type == "USER")
          return "{% static "img/iconUser.png"%}";
        else
          return "{% static "img/circle.png" %}";
      });

  node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
}

function restart() {
    loadInfoFileToTextArea()
    // read file
    d3.json("{% static "graph.json" %}", function(error, json) {
      jsonNodes = json.nodes;
      jsonLinks = json.links;
    });

    // add new nodes
    jsonNodes.forEach( function(d) {
      var nodeIndex = d3.keys(nodes).indexOf("" + d.index);
      if(nodeIndex == -1) {
//        console.log("add node with index: " + d.index);
        n = nodes.push(d);
      } else if(d.fixed == "true") {
        // update coordinates
        nodes[nodeIndex].fixed = "true";
        nodes[nodeIndex].x = d.x;
        nodes[nodeIndex].y = d.y;
        nodes[nodeIndex].px = d.x;
        nodes[nodeIndex].py = d.y;

        // update type
        nodes[nodeIndex].type = d.type;

        tick();
      }
    });

    // remove old nodes
    nodes.forEach( function(d) {
      if(d3.keys(jsonNodes).indexOf("" + d.index) == -1) {
//        console.log("remove node with index: " + d.index);
        n = nodes.splice(d.index);
      }
    });

    // add new links
    jsonLinks.forEach( function(d) {
      var linkIndex = d3.keys(links).indexOf("" + d.index);
      if(linkIndex == -1) {
//        console.log("add link with index: " + d.index);
        l = links.push(d);
      } else {
        // update links
        if (links[linkIndex].source.index != d.source || 
            links[linkIndex].target.index != d.target) {
          links[linkIndex].source = d.source;
          links[linkIndex].target = d.target;
        }

        tick();
      }
    });

    // remove old links
    links.forEach( function(d) {
      if(d3.keys(jsonLinks).indexOf("" + d.index) == -1) {
//        console.log("remove link with index: " + d.index);
        l = links.splice(d.index);
      }
    });

    // update links
    link = link.data(links, function(d) { 
        return d.index;
    });

    link.exit().remove();

    link.enter().insert("line", ".node")
      .attr("class", "link");

    // update nodes
    node = node.data(nodes, function(d) { 
        return d.index;
    });

    node.exit().remove();

    var nn = node.enter().append("g")
      .attr("class", "node")
      .attr("class", function(d) { return "node " + d.type; })
      .attr("r", 5);

    nn.append("image")
      .attr("xlink:href", function(d) {
        if(d.type == "GSN")
          return "{% static "img/iconGSN.png"%}";
        else if (d.type == "RSN")
          return "{% static "img/iconRSN.png"%}";
        else if (d.type == "USER")
          return "{% static "img/iconUser.png"%}";
        else
          return "{% static "img/circle.png" %}";
      })
      .attr("x", -8)
      .attr("y", -8)
      .attr("width", 16)
      .attr("height", 16);

    nn.append("text")
      .attr("dx", 12)
      .attr("dy", ".35em")
      .style("fill", "#8F008F")
      .style("font-size","12px")
      .style("font-weight", "bold")
      .text(function(d) { return d.name });

    force.start();
}

restart();

// sets interval graph gets updated (1sec = 1000ms)
setInterval(restart, 1000 * 2);

</script>

